:root {
  --text-white: #fff;
  --text-cyan: #00ffff;
}

body {
  scroll-behavior: smooth;
  background-color: #333;
  color: var(--text-white);
}

/* My Utilites */
.cursor-pointer {
  cursor: pointer;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* My custom style */
a {
  color: var(--text-cyan);
  text-decoration: none;
  transition: all ease-in 0.3s;
  font-size: 1.25rem;
  padding: 3px;
}

a:hover {
  background-color: var(--text-cyan);
  color: #0e0f0f;
}

/* Button customisation */
.btn-custom {
  color: var(--text-white);
  transition: all ease-in-out 0.3s;
}

.btn-custom:hover {
  color: #ca0909;
}

/* React Icons Styles */
.plus-icon {
  width: 24px;
  height: 24px;
  transition: all ease-in 0.2s;
  border-radius: 100%;
  color: var(--text-white);
}

.btn-custom:hover .plus-icon {
  background-color: #ca0909;
  color: #000;
}

/* Default Design for input fileds */
input {
  background-color: transparent;
  border: none;
  width: 100%;
  color: var(--text-white);
  margin-bottom: 2px;
}

input:focus {
  outline: none;
}

.select {
  width: fit-content;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background: #000;
  border: none;
  color: var(--text-cyan);
  padding: 0.4px;
}

.select:focus {
  outline: none;
}

.select option {
  width: 40px;
  font-size: 12px;
}
