body {
  scroll-behavior: smooth;
  background-color: #333;
  color: #fff;
}

/* My custom style */
a {
  color: cyan;
  text-decoration: none;
  transition: all ease-in 0.3s;
  font-size: 1.25rem;
  padding: 3px;
}

a:hover {
  background-color: cyan;
  color: #0e0f0f;
}

/* Button customisation */
.btn-custom {
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.btn-custom:hover {
  color: #ca0909;
}

/* React Icons Styles */
.plus-icon {
  width: 24px;
  height: 24px;
  transition: all ease-in 0.2s;
  border-radius: 100%;
  color: #fff;
}

.btn-custom:hover .plus-icon{
  background-color: #ca0909;
  color: #000;
}


